spring:
  datasource:
    username: ${SPRING_DATASOURCE_USERNAME}
    url: ${SPRING_DATASOURCE_URL}
    password: ${SPRING_DATASOURCE_PASSWORD}
    driver-class-name: com.mysql.cj.jdbc.Driver

#  profiles:
#    include: mysql
  jpa:
    hibernate:
      ddl-auto: update

    generate-ddl: true
    defer-datasource-initialization: true


  mvc:
    pathmatch:
      matching-strategy: ant_path_matcher
  sql:
    init:
      encoding: UTF-8


server:
  port: 8090
  error:
    include-message: always



